{% if GITLAB_URL %}
<a href="{{ GITLAB_URL }}">
{% if GITLAB_POSITION != "left" %}
<!-- **** Begin Fork-Me-On-Gitlab-Ribbon-HTML. See MIT License at https://gitlab.com/seanwasere/fork-me-on-gitlab **** -->
<span style="font-family: tahoma; font-size: 20px; position:fixed; top:50px; right:-45px; display:block; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); background-color:blue; color:white; padding: 4px 30px 4px 30px; z-index:99">Fork Me On GitLab</span>
<!-- **** End Fork-Me-On-Gitlab-Ribbon-HTML **** -->
{% else %}
<!-- **** Begin Fork-Me-On-Gitlab-Ribbon-HTML. See MIT License at https://gitlab.com/seanwasere/fork-me-on-gitlab **** -->
<span style="font-family: tahoma; font-size: 20px; position:fixed; top:50px; left:-45px; display:block; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); background-color:cyan; color:black; padding: 4px 30px 4px 30px; z-index:99">Fork Me On GitLab</span>
<!-- **** End Fork-Me-On-Gitlab-Ribbon-HTML **** -->
{% endif %}
</a>
{% endif %}
