Read More Articles: </br>
<ul>
{% if article.prev_article %}
    <li>
        Previous: <a href="{{ SITEURL }}/{{ article.prev_article.url}}">
            {{ article.prev_article.title }}
        </a>
    </li>
{% endif %}
{% if article.next_article %}
    <li>
        Next: <a href="{{ SITEURL }}/{{ article.next_article.url}}">
            {{ article.next_article.title }}
        </a>
    </li>
{% endif %}
</ul>
Read More Articles in this category: </br>
<ul>
{% if article.prev_article_in_category %}
    <li>
        Previous: <a href="{{ SITEURL }}/{{ article.prev_article_in_category.url}}">
            {{ article.prev_article_in_category.title }}
        </a>
    </li>
{% endif %}
{% if article.next_article_in_category %}
    <li>
        Next: <a href="{{ SITEURL }}/{{ article.next_article_in_category.url}}">
            {{ article.next_article_in_category.title }}
        </a>
    </li>
{% endif %}
</ul>
